
<% if(places && places.length > 0) { %>

        <style>
            
            .fit-image{
                width: 100%;
                object-fit: cover;
                height: 220px;
            }
            
        </style>


        <div class="row text-center">
        <% places.forEach(function(place){ %>
            <div class="col-md-4 col-sm-6">
                    <div class="card mb-3">
                        <img class="card-img-top fit-image" style="max-height: 220px" src="<%= place.image %>" >  
                        <div class="card-body bg-light justify-content-center">
                            <h3 class="card-title d-inline text-align-right"><a href="places/<%= place._id %>"><%= place.name %></a></h3>


                                        
                        </div>
                        <div class="card-footer bg-light text-muted pb-0 pt-0">
                            
                            <% if(place.ratingsCount != undefined) { %>
                                <p class=" small mb-0"><%= place.ratingsAvg %> <span style="color:orange">&#9733;</span> / <%= place.ratingsCount %>
                                    <% if(place.ratingsCount == 1) { %>
                                        vote
                                    <% } else { %>
                                        votes
                                    <% } %>
                                </p>

                            <% } else { %>
                                <p class=" small mb-0">No ratings</p>
                            <% } %> 
                        </div>
                    



                    </div>
            </div>
        <% }); %>

    </div>

<% } else { %>

    <div id="landing-header2" class="justify-content-center">
    <div class="card mx-auto" style="width:400px; background-color:rgba(255,255,255,0.85);">
        <div class="card-body">

            <h3 class="pb-1`">No places found 💩</h3>

        </div>
    </div>
    </div>

<% } %>
