<% include ../partials/header %>
        <div class="row">
            <div class="col-md-3">
                <div id="map"></div>
            </div> 
            <div class="col-md-9">
                    <div class="card border-light mb-3">
                        <img class="card-img-top" src="<%= place.image %>">
                        <div class="card-body">
                            <h2 class="card-title text-primary"><%= place.name %></h2> 
                            <div class="my-rating"></div>
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="card-text float-left d-inline">Submitted by <a href="/users/<%= place.author.id %>"><%= place.author.username %></a>, <%= moment(place.createdAt).fromNow() %></h6>
                                </div>
                                <div class="col-6">
                                    <% if(currentUser && place.author.id.equals(currentUser._id)) { %>
                                        
                                        <div class="col-sm-12 text-right">
                                            <form class="d-inline float-right mb-3" action="<%= place._id %>/?_method=DELETE" method="POST">
                                                <button class="btn btn-link btn-sm" style="color: red;"><i class="align-middle material-icons" style="font-size: 18px;">delete</i></button>
                                            </form>
                                            <a href="<%= place._id %>/edit" style="text-decoration: none" class="float-right">
                                                <button class="btn btn-link btn-sm"><i class="align-middle material-icons" style="font-size: 18px;">edit</i></button>
                                            </a>
                                        </div>                                                                         
                                    <% } %>

                                </div>
                            </div>
                            
                            
                
                            <p class="card-text text-justify"><%= place.description %></p>
                        </div>
                    </div>

                    <div class="card border-light mb-3">
                        <div class="card-body text-dark">
                            <div class="card-title mb-4">  
                                <h4 class="d-inline">Comments</h4>

                            </div>

                            <% if(currentUser) { %>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="newComment" name="comment[text]" placeholder="New comment">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="addCommentButton"><i class="align-middle material-icons">add</i></button> 
                                    </div>
                                </div>   
                            <% } %>

                                
                            <div id="commentsPlaceholder">
                                
                            </div>                

                        </div>
                    </div>


            </div> 
        </div> 
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/star-svg/src/jquery.star-rating-svg.js"></script>
        <link rel="stylesheet" type="text/css" href="/star-svg/src/css/star-rating-svg.css">

    <script>

        function editComment(commentID) {
            $("#commentText" + commentID).hide();
            $("#commentEdit" + commentID).show();
        }

        function discardEdit(commentID) {
            document.getElementById("editCommentInput" + commentID).value = $("#commentText" + commentID).text()
            $("#commentText" + commentID).show();
            $("#commentEdit" + commentID).hide();
        }

        function approveEdit(commentID) {
            $.ajax({
                url: '/<%= place.city %>/places/<%= place.id %>/comments/' + commentID + '/?_method=PUT',
                type: 'POST',
                data: {'comment[text]' : document.getElementById('editCommentInput' + commentID).value, 'comment[edited]' : 'true'},
                success: () => {
                    document.getElementById("commentText" + commentID).innerHTML = document.getElementById('editCommentInput' + commentID).value;
                    document.getElementById("EditedTag" + commentID).innerHTML = ", Edited";
                    $("#commentText" + commentID).show();
                    $("#commentEdit" + commentID).hide();
                }
            });
        }

        function loadComments() {
            $.ajax({
                url: '/<%= place.city %>/places/<%= place.id %>/comments',
                type: 'GET',
                dataType: 'html',
                success: (data) => {
                    document.getElementById("commentsPlaceholder").innerHTML = data;
                }
            });
        }

        function addCommentToDB() {
            $.ajax({
                url: '/<%= place.city %>/places/<%= place.id %>/newComment',
                type: 'POST',
                data: {'comment[text]' : $('#newComment').val()},
                success: () => {
                    loadComments();
                }
            });
        }

        function deleteComment(commentID) {
            $.ajax({
                url: '<%= place._id %>/comments/' + commentID + '%>/?_method=DELETE',
                type: 'POST',
                success: () => {
                    loadComments();
                }
            });
        }

        

        $(document).ready(() => {

            loadComments();

            $('#addCommentButton').click(() => {
                addCommentToDB();
            });
        });

        function webpageReady() {
            $(".my-rating").starRating({
                starSize: 25,
                disableAfterRate: false,
                callback: function(currentRating, $el){
                    console.log({'rating' : currentRating});
                    $.ajax({
                        url: '/<%= place.city %>/places/<%= place._id %>/setRating',
                        type: 'POST',
                        data: {'rating' : currentRating},
                        success: (data) => {
                            //document.getElementById("commentsPlaceholder").innerHTML = data;
                        }
                    }).done(function(response) {
                            console.log(response);
                    });
                }
            });
        }

                    function initMap() {
                        var lat = <%= place.lat %>;
                        var lng = <%= place.lng %>;
                        var center = {lat: lat, lng: lng };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 13,
                            center: center,
                            scrollwheel: false
                        });
                        var contentString = `
                        <strong><%= place.name %><br />
                        <%= place.location %></strong>
                        <p><%= place.description %></p>
                        `
                        var infowindow = new google.maps.InfoWindow({
                        content: contentString
                        });
                        var marker = new google.maps.Marker({
                            position: center,
                            map: map
                        });
                        marker.addListener('click', function() {
                        infowindow.open(map, marker);
                        });
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7GHMZ7MeeFSnfM58toFjGty4DlEhtBQU&callback=initMap"></script>
                <script type="text/javascript">webpageReady();</script>
                
<% include ../partials/footer %>
