<% include ../partials/header %>


        <div class="row">
            <div class="col-md-3">
                <div id="map"></div>
            </div> 
            <div class="col-md-9">

                    <div class="card border-light mb-3">
                        <img class="card-img-top" src="<%= place.image %>">
                        <div class="card-body">
                            <h2 class="card-title text-primary"><%= place.name %></h2>

                            <div class="row">
                                <div class="col-6">
                                    <h6 class="card-text float-left d-inline">Submitted by <a href="/users/<%= place.author.id %>"><%= place.author.username %></a>, <%= moment(place.createdAt).fromNow() %></h6>
                                </div>
                                <div class="col-6">
                                    <% if(currentUser && place.author.id.equals(currentUser._id)) { %>
                                        
                                        <form class="d-inline float-right mb-3" action="<%= place._id %>/?_method=DELETE" method="POST">
                                            <button type="submit" class=" btn text-danger d-inline ml-2 mr-0 pr-0 btn-sm" >Delete</button>
                                        </form>


                                        <a href="<%= place._id %>/edit" style="text-decoration: none" class="float-right">
                                            <button href="<%= place._id %>/edit" class=" btn text-warning d-inline btn-sm">Edit</button>
                                        </a>
                                            
                                        
                                    <% } %>

                                </div>
                            </div>
                            
                            
                
                            <p class="card-text text-justify"><%= place.description %></p>
                        </div>
                    </div>

                    <div class="card border-light mb-3">
                        <div class="card-body text-dark">
                            <div class="card-title mb-4">  
                                <h4 class="d-inline">Comments</h4> <a href="<%= place._id %>/comments/new" class="btn btn-outline-primary d-inline float-right">Add Review</a>

                            </div>
                            
                            <% place.comments.forEach(function(comment){ %>
                                <div class="card border-light mb-3">
                                    <div class="card-body text-dark">

                                        <div class="row">
                                            <div class="col-6">
                                                <h4 class="card-title d-inline float-left"><%= comment.author.username %></h4>
                                                <p class="card-text d-inline float-left align-middle pl-3 pt-1"><small class="text-muted">Added <%= moment(comment.createdAt).fromNow() %>, </small>
                                                <% if( comment.edited == true) { %>
                                                    <small class="text-muted">Edited</small>
                                                <% } %></p>
                                            </div>
                                            <div class="col-6">


                                                    <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>


                                                        <form class="d-inline float-right" action="<%= place._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
                                                            <button type="submit" class=" btn text-danger pr-0 ml-2 mr-0 btn-sm ">Delete</button>
                                                        </form>
                                                        <a class="" href="<%= place._id %>/comments/<%= comment._id %>/edit" style="text-decoration: none">
                                                            <button href="<%= place._id %>/edit" class=" btn text-warning float-right btn-sm">Edit</button>
                                                        </a>

                                                    <% } %>

                                            </div>
                                        </div>                          

                                        <p class="card-text text-justify"><%= comment.text  %></p>
                                    </div>
                                </div>
                            <% }) %>                     

                        </div>
                    </div>


            </div> 
        </div> 



    <script>
                    function initMap() {
                        var lat = <%= place.lat %>;
                        var lng = <%= place.lng %>;
                        var center = {lat: lat, lng: lng };
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 13,
                            center: center,
                            scrollwheel: false
                        });
                        var contentString = `
                        <strong><%= place.name %><br />
                        <%= place.location %></strong>
                        <p><%= place.description %></p>
                        `
                        var infowindow = new google.maps.InfoWindow({
                        content: contentString
                        });
                        var marker = new google.maps.Marker({
                            position: center,
                            map: map
                        });
                        marker.addListener('click', function() {
                        infowindow.open(map, marker);
                        });
                    }
                </script>
                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7GHMZ7MeeFSnfM58toFjGty4DlEhtBQU&callback=initMap"></script>

<% include ../partials/footer %>