<% place.comments.forEach(function(comment){ %>
<div class="card border-light mb-3">
    <div class="card-body text-dark">

        <div class="row">
            <div class="col-6">
                <h4 class="card-title d-inline float-left">
                    <%= comment.author.username %>
                </h4>
                <p class="card-text d-inline float-left align-middle pl-3 pt-1"><small class="text-muted">Added
                        <%= moment(comment.createdAt).fromNow() %>, </small>
                    <% if( comment.edited == true) { %>
                    <small class="text-muted">Edited</small>
                    <% } %>
                </p>
            </div>
            <div class="col-6">


                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                
                <button type="submit" id="commentDeleteButton" class=" btn text-danger pr-0 ml-2 mr-0 btn-sm" onclick="deleteComment('<%= comment._id %>')">Delete</button>
                <a class="" href="<%= place._id %>/comments/<%= comment._id %>/edit" style="text-decoration: none">
                    <button href="<%= place._id %>/edit" class=" btn text-warning float-right btn-sm">Edit</button>
                </a>

                <% } %>

            </div>
        </div>

        <p class="card-text text-justify">
            <%= comment.text  %>
        </p>
    </div>
</div>
<% }) %>