<% include ../partials/header %>


<div class="container text-center">
    <h1> Add new commeent to <%= place.name %></h1>

    <div class="row justify-content-center text-center">
        <div class="w-50 ">
            <a href="/<%= place.city %>/places/<%= place._id %>" class="text-muted mt-3 mb-3">Go Back</a>
            <form action="/<%= place.city %>/places/<%= place._id %>/comments" method="POST">
                <div class="form-group mt-1 mb-1">
                    <input class="form-control" type="text" name="comment[text]" placeholder="comment">
                </div>
                <div class="form-group mt-1 mb-1">
                    <button type="submit" class="btn btn-lg btn-success mt-1 mb-2">Submit</button>
                </div>
            </form>
        </div>
    </div>


</div>


<% include ../partials/footer %>