<% include ../partials/header %>


<div class="row justify-content-center ">
    <div class="col-md-4 justify-content-center">
        <img src="http://i.pravatar.cc/200" class="img-thumbnail float-right">
    </div>
    
    <div class="col-md-8 pl-0 justify-content-center">
        <div class="card w-75 pl-0">
            <div class="card-body">
                <h4 class="card-title"><%= user.username %></h4>


                <ul class="list-group list-group-flush w-75">
                    <li class="list-group-item pl-0 pb-0 text-muted"><small><%= user.first_name %> <%= user.last_name %></small></li>
                    <li class="list-group-item pl-0 pb-0 text-muted"><small><%= user.email %></small></li>

                    <h6 class="card-text pt-4">Places:</h6>

                    <% places.forEach(function(place){ %>
                        <li class="list-group-item pl-0 pb-0 text-muted">
                        <small><a href="/<%= place.city %>/places/<%= place.id %>"><%= place.name %></a></small>
                        </li>
                    <% }) %>                     


                </ul>


            </div>
            
            <% if(user._id.equals(currentUser._id)) { %>

                <a href="/password/reset" style="text-decoration: none" class="float-right">
                    <button class="btn btn-link btn-sm">Reset Password</button>
                </a>                                                                     
            <% } %>
        </div>
    </div>


</div>


<% include ../partials/footer %>